.checkbox {
  margin-right: 10px;
}

.orderCart {
  width: 100%;
  border: 1px solid rgba(165, 165, 165, 0.479);
  border-radius: 5px;
  margin-bottom: 20px;
  color: #000
}

.item:hover {
  background-color: #a3a3a34d;
}

.title {
  font-weight: 600
}

.orderNumber {
  width: 13%;
}

.orderType {
  width: 27%;
  padding: 2px; 
  text-align: center;
}

.orderSumm {
  width: 42%;
}

.orderStatus {
  width: 18%;
  border-right :none !important;
}

.status {
  background-color: #ecd54f;
  color: #fff;
  font-weight: 600;
  text-align: center;
  border-radius: 5px
}

.statusGray {
  background-color: #adadad;
  color: #fff;
  font-weight: 600;
  text-align: center;
  border-radius: 5px
}

.statusGreen {
  background-color: #6ccf0f;
  color: #fff;
  font-weight: 600;
  text-align: center;
  border-radius: 5px
}

.orderItem {
  font-size: 15pt;
  padding: 10px;
  border-right: 1px solid rgba(165, 165, 165, 0.479);
  display: inline-block;
  position: relative; 
  text-align: center;
  vertical-align: middle
}

.inline {
  display: inline-block;
  position: relative;
  vertical-align: middle
}

@media screen and (max-width: 1200px) {
  .orderItem {
    display: inline-table;
    width: 100% !important;
    right: 0;
    border-right: none;
    border-bottom: 1px solid rgba(165, 165, 165, 0.479)
  }

  .title {
    display: none;
  }

  .orderNumber::before {
    content: 'Номер заказа: '
  }
}