.checkbox {
  margin-right: 10px;
}

.userListCart {
  width: 100%;
  border: 1px solid rgba(165, 165, 165, 0.479);
  border-radius: 5px;
  margin-bottom: 20px;
  color: #000
}

.userItem:hover {
  background-color: #a3a3a34d;
}

.title {
  font-weight: 600
}

.userNumber {
  width: 13%;
}

.userType {
  width: 27%;
  padding: 2px; 
  text-align: center;
}

.userSumm {
  width: 42%;
}

.userSmsCode {
  width: 28%;
  border-right :none !important;
}

.status {
  background-color: #ecd54f;
  color: #fff;
  font-weight: 600;
  text-align: center;
  border-radius: 5px
}

.statusAdmin {
  background-color: #4f52ec;
  color: #fff;
  font-weight: 600;
  text-align: center;
  border-radius: 5px
}

.statusDenied {
  background-color: #8d8d8d;
  color: #fff;
  font-weight: 600;
  text-align: center;
  border-radius: 5px
}

.noNeedToCheck {
  background-color: #ffffff;
  color: #ecd54f;
  border: 1px solid #ecd54f;
  font-weight: 600;
  text-align: center;
  border-radius: 5px
}

.statusReady {
  background-color: #019916;
  color: #fff;
  font-weight: 600;
  text-align: center;
  border-radius: 5px
}

.UserItem {
  font-size: 15pt;
  padding: 10px;
  border-right: 1px solid rgba(165, 165, 165, 0.479);
  display: inline-block;
  position: relative; 
  text-align: center
}

.inline {
  display: inline-block;
  position: relative;
  vertical-align: middle
}

@media screen and (max-width: 1200px) {
  .UserItem {
    display: inline-table;
    width: 100% !important;
    border-right: none;
    border-bottom: 1px solid rgba(165, 165, 165, 0.479)
  }

  .title {
    display: none;
  }

  .userType::before {
    content: 'Номер : ';
    font-weight: 700
  }
  
  .userSmsCode::before {
    content: 'Код из СМС : ';
    font-weight: 700;
  }
}