$column-gap: 50px;
$navbar-height: 6rem;
$navbar-item-img-max-height: 3.5rem;
$footer-background-color: hsl(0, 0%, 80%);

@import "bulma";

* {
  overflow: hidden;
}

.bc-field {
  margin-bottom: 40px !important;
}

.bc-subtitle {
  margin-bottom: 30px !important;
}

.bc-input-img {
  max-width: 60%;
}

.bc-box {
  margin: 30px 1px;
}

.twitter-timeline {
  width: 100vw !important;
}

.bc-clock {
  float: right;
  margin-left: 10px;
}

@media screen and (max-width: 769px) {
  .bc-box {
    // margin: 20px;
    // border: none;
    box-shadow: none;
  }

  .section {
    padding: 0;
  }

  .bc-right-column {
    padding-top: 0;
  }

  .bc-clock {
    float: left;
    margin-left: 0;
    margin-right: 10px;
  }
}