.icon {
  margin-right: 5px;
  max-width: 30px;
}

.arrow {
  max-width: 30px;
  margin-right: 10px;
  margin-left: 10px;
}

.twitterContainer {
  width: 400px;
  height: 506px;
  float: right;
}

.title {
  line-height: 1.3;
}

@media screen and (max-width: 769px) {
  .icon {
    max-width: 25px;
    margin-right: 0;
  }

  .arrow {
    max-width: 19px;
    margin-right: 5px;
    margin-left: 5px;
  }

  .rightColumn {
    padding-right: 0;
    padding-left: 0;
  }
  .twitterContainer {
    width: auto;
    height: auto;
    float: none;
    background: white;
  }

  .heroBody,
  .container {
    overflow: visible;
  }
}
