.userInfo {
  font-size: 15pt
}

.userInfo div {
  margin-top: 10px
}

.phoneSelected {
  color: #fff;
  background-color: hsl(171, 100%, 41%);
  padding: 2px 5px 2px 5px;
  margin: 0 0 0 5px;
  border-radius: 5px;
  display: inline-block;
  font-weight: 600;
}

.phone {
  margin: 2px
}

.firstPhoto {
  width: 200px;
  display: inline-block;
  margin-left: 20px
}

.firstPhoto:hover {
  cursor: zoom-in;
}

.firstPhotoBig {
  width: 100%;
  display: inline-block;
  margin-left: 20px
}

.firstPhotoBig img {
  width: 100%
}

.firstPhotoBig:hover {
  cursor: zoom-out;
}

.secondPhoto {
  width: 200px;
  display: inline-block 
}

.secondPhoto:hover {
  cursor: zoom-in;
}

.secondPhotoBig {
  width: 100%;
  display: inline-block;
}

.secondPhotoBig img{
  width: 100%
}

.status {
  width: 240px;
  display: inline-block;
  background-color: rgb(255, 230, 0);
  text-align: center;
  color: rgb(128, 120, 54);
  font-weight: 600;
  margin-left: 5px;
  border-radius: 5px
}

.button {
  margin-top: 120px;
}

.button div {
  display: inline
}

.button select {
  font-size: 15pt;
  padding: 5px;
  margin-right: 5px
}

.reason {
  margin-top: 10px
}